.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding-top: 50px;
  }
  .example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    width: 175px;
    height: 175px;
    line-height: 175px;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  .top-buffer { margin-top:20px; }
